<!doctype html>
<html>
	<head>
		<title>Daily Graphic</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="icon" href="http://res.cloudinary.com/dedmfazui/image/upload/v1495729047/Schermafbeelding_2017-05-25_om_18.17.01_phlldh.png">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
